<div class='mx-auto max-w-prose space-y-12 md:space-y-16'>
    <article class='flex w-full flex-col space-y-8 md:space-y-12'>
        <div class='space-y-4'>
            <h1 class='text-4xl font-extrabold text-primary/95 md:text-5xl md:leading-tight'>
                This is the very cool and fancy Article Title
            </h1>
            <p class='text-lg font-semibold text-primary/60 md:text-xl'>
                This is the very cool and fancy Subtitle, that is a bit longer yada yada yada
            </p>
        </div>

        <div class='flex items-center'>
            <img class='mr-2 h-10 w-10 rounded-full' src='placeholder.jpg' alt='Author Avatar' />
            <div class=''>
                <span class='font-bold'>John Doe</span>
                <span class='ml-1 text-sm'> - April 3, 2024</span>
            </div>
        </div>

        <div class='prose prose-lg md:prose-xl text-primary/95'>
            <p>This is the main content of the blog article. You can add paragraphs, images, lists,
                and other elements here.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut imperdiet magna.
                Aliquam erat volutpat. Pellentesque lorem leo, tempus at semper nec, auctor ac nibh.
                Mauris vulputate arcu neque, vitae tincidunt odio faucibus vitae. Nulla facilisi.
                Aenean eu leo quam. Pellentesque lorem leo, tempus at semper nec, auctor ac nibh.
                Mauris vulputate arcu neque, vitae tincidunt odio faucibus vitae.</p>
        </div>
    </article>

    <section>
        <h2 class='text-xl font-bold'>Comments</h2>
    </section>
</div>