<script src='article-comments.js'></script>

<div class='mx-auto max-w-prose space-y-10 md:space-y-14'>
    <article class='flex w-full flex-col space-y-8 md:space-y-10'>
        <div class='space-y-4'>
            <h1 class='text-4xl font-extrabold text-primary/95 md:text-5xl md:leading-tight'>
                {{article.title}}
            </h1>
            {{#if article.subtitle}}
                <h2 class='text-lg font-semibold text-primary/60 md:text-xl'>
                    {{article.subtitle}}
                </h2>
            {{/if}}
            <div class="flex space-x-2">
                <h3 class='text-md'>By <b>@{{article.author.username}}</b></h3>
                <div class='text-primary/80'>Published {{toXMagnitudeAgo article.createdAt}}</div>
            </div>
        </div>

        {{#if article.image}}
            <img src='placeholder.jpg' alt='Featured image of post' class='rounded-lg w-full' />
        {{/if}}

        <div class='prose prose-lg text-primary/95 md:prose-xl'>
            <p>This is the main content of the blog article. You can add paragraphs, images, lists,
                and other elements here.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut imperdiet magna.
                Aliquam erat volutpat. Pellentesque lorem leo, tempus at semper nec, auctor ac nibh.
                Mauris vulputate arcu neque, vitae tincidunt odio faucibus vitae. Nulla facilisi.
                Aenean eu leo quam. Pellentesque lorem leo, tempus at semper nec, auctor ac nibh.
                Mauris vulputate arcu neque, vitae tincidunt odio faucibus vitae.</p>
        </div>
    </article>

    <section class='flex flex-col gap-4'>
        <h2 class='text-2xl font-bold'>3 Comments</h2>

        <form method='POST' action='/articles/comments' class='flex flex-col space-y-2'>
            <textarea
                name='comment'
                type='text'
                placeholder="Add a comment..."
                required
                rows='2'
                class='flex w-full rounded-md border border-input bg-background px-3 py-2 text-md ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2'
            ></textarea>
            <button
                type='submit'
                class='ml-auto inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2'
            >
                Comment
            </button>
        </form>

        <div class='space-y-6'>
            {{#each article.comments}}
                {{> comment _id=_id body=body createdAt=createdAt author=author lastEditedAt=lastEditedAt userId=../userId articleAuthorId=../article.author._id }}
            {{/each}}
        </div>

    </section>
</div>