<div class='flex w-full flex-col gap-8 md:gap-12'>
    <div class='grid w-full grid-cols-1 gap-6 sm:grid-cols-3 lg:grid-cols-4'>
        <div class='flex h-full w-full justify-center'>
            <img
                class='h-full w-full max-w-[225px] rounded-lg object-cover sm:max-w-full'
                src='/selfie.jpeg'
                alt='Selfie'
                title='Selfie'
            />
        </div>
        <div class='row-start-1 flex flex-col gap-6 sm:col-span-2 sm:row-start-auto lg:col-span-3'>
            <h1 class='text-5xl font-bold'>Moin, I'm Till</h1>
            <p>
                A 23-year-old computer science student from Germany, who wants to become an Ironman by summer 2025.
                This has been a dream of mine for a long time, and I'm excited to finally start the grind.
                Here I share my journey and invite others to join.
            </p>
            <p>
                Share the Grind is a platform for everyone to come together and share.
                Be it sports, career, or personal development, feel free to write about your learnings and goals.
                I'm looking forward to reading your stories and following along!
            </p>
            <p>
                If you have any questions or feedback, feel free to contact me via
                <a href='mailto:till.gohl@gmx.de' class='underline'>email</a>.
            </p>
        </div>
    </div>

    <div class='w-full max-w-[696px] flex flex-col gap-8'>
        <h1 class='text-4xl font-semibold'>Recent Articles</h1>

        <div class='flex flex-col gap-8'>
            {{#if articles.length}}
                {{#each articles}}
                    {{> article-preview this }}
                {{/each}}
            {{else}}
                <p class="italic text-sm">no recent articles</p>
            {{/if}}
        </div>
    </div>

</div>