<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>Till's Blog</title>
        <link href='/styles/style.css' rel='stylesheet' />
    </head>

    <body class='dark'>

        <header class='bg-background'>
            <nav
                class='mx-auto flex max-w-7xl items-center justify-between p-6 md:px-8'
                aria-label='Global'
            >
                <div class='flex md:flex-1'>
                    <h1 class='text-xl font-bold'>Till's Blog</h1>
                </div>
                <div class='flex md:hidden'>
                    <button
                        type='button'
                        class='-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700'
                    >
                        <span class='sr-only'>Open main menu</span>
                        <svg
                            class='h-6 w-6'
                            fill='none'
                            viewBox='0 0 24 24'
                            stroke-width='1.5'
                            stroke='currentColor'
                            aria-hidden='true'
                        >
                            <path
                                stroke-linecap='round'
                                stroke-linejoin='round'
                                d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'
                            />
                        </svg>
                    </button>
                </div>
                <div class='hidden md:flex md:gap-x-12'>
                    <a href='/' class='text-sm font-semibold leading-6'>Blog</a>
                    <a href='/about' class='text-sm font-semibold leading-6'>About</a>
                </div>
                <div class='hidden md:flex md:flex-1 md:justify-end'>
                    <a href='/login' class='text-sm font-semibold leading-6'>Log in
                        <span aria-hidden='true'>&rarr;</span></a>
                </div>
            </nav>
            <!-- Mobile menu, show/hide based on menu open state. -->
            <div class='md:hidden' role='dialog' aria-modal='true'>
                <div
                    class='fixed inset-y-0 right-0 z-10 w-full max-w-xs overflow-y-auto bg-background px-6 py-6 ring-1 ring-accent'
                >
                    <div class='flex items-center justify-between'>
                        <a href='#' class='-m-1.5 p-1.5'>
                            <span class='sr-only'>Your Company</span>
                            <h1>Till's Blog</h1>
                        </a>
                        <button type='button' class='-m-2.5 rounded-md p-2.5'>
                            <span class='sr-only'>Close menu</span>
                            <svg
                                class='h-6 w-6'
                                fill='none'
                                viewBox='0 0 24 24'
                                stroke-width='1.5'
                                stroke='currentColor'
                                aria-hidden='true'
                            >
                                <path
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                    d='M6 18L18 6M6 6l12 12'
                                />
                            </svg>
                        </button>
                    </div>
                    <nav class='mt-6 flow-root'>
                        <div class='-my-6 divide-y divide-accent'>
                            <div class='space-y-2 py-6'>
                                <a
                                    href='/'
                                    class='-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 hover:bg-accent'
                                >Blog</a>
                                <a
                                    href='/about'
                                    class='-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 hover:bg-accent'
                                >About</a>
                            </div>
                            <div class='py-6'>
                                <a
                                    href='/login'
                                    class='-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 hover:bg-accent'
                                >Log in</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <main class='mx-auto flex max-w-7xl'>
            {{{body}}}
        </main>

        <footer class='mx-auto flex max-w-7xl'>
            <p>&copy; 2024 Till's Blog</p>
        </footer>

    </body>
</html>